  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="/adminlte/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        
            <li class="nav-item">
                <a href="/" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Beranda
                </p>
                </a>
            </li>

            <li class="nav-header">Pengumuman</li>
            
            <li class="nav-item">
                <a href="/content-pengumuman" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Create content
                </p>
                </a>
            </li>

            <li class="nav-header">informasi</li>

            <li class="nav-item">
                <a href="/content-informasi" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Create content
                </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/category-informasi" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Category
                </p>
                </a>
            </li>
            <li class="nav-header">akuntabilitas</li>

            <li class="nav-item">
                <a href="/content-akuntabilitas" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Create content
                </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/category-akuntabilitas" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Category
                </p>
                </a>
            </li>

            <li class="nav-header">kecamatan</li>
            <li class="nav-item">
                <a href="/content-kecamatan" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Create content
                </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/category-kecamatan" class="nav-link">
                <i class="nav-icon far fa-image"></i>
                <p>
                    Category
                </p>
                </a>
            </li>

            <li class="nav-header">dropdown</li>

            <li class="nav-item">
                <a href="pages/gallery.html" class="nav-link">
                <i class="nav-icon fas fa-pallet"></i>
                <p>
                    Navbar
                </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/gallery.html" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Navbar
                </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/gallery.html" class="nav-link">
                <i class="nav-icon far fa-star"></i>
                <p>
                    Navbar
                </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/gallery.html" class="nav-link">
                <i class="nav-icon fas fa-server"></i>
                <p>
                    Navbar
                </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>